body {
    background-image: url('/images/ship.jpg');
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    font-family: sans-serif;
}

textarea {
    /* opacity: 0.2; */
    color: #fae389;
    font-size: 1.7rem;
    width: 50%;
    display: block;
    height: 20vh;
    margin: 5rem 0 0 2rem;
    font-weight: bolder;
    background: transparent;
}

button {
    height: 8vh;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    /* text-shadow: 2px 2px 4px white; */
    color: white;
    word-wrap: break-word;
    margin-left: 19%;
    border-radius: 3rem;
    background-color: rgb(120 56 39 / 0.6)
}

.description-text {
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
}

#translating-div {
    width: 50%;
    height: 20vh;
    border: 1rem solid rgb(250, 227, 137, 0.3);
    margin-left: 1.25rem;
    color: #fae389;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: sans-serif;
}

::placeholder {
    color: #fae389;
}

@media (max-width: 720px) {
    #translating-div {
        width: 90%;
        margin: auto;
    }

    .description-text {
        margin-left: 1rem;
    }

    textarea {
        width: 90%;
        margin: auto;
        margin: 5rem 0 0 .9rem;
    }
}